<section class="card">
  <div class="card-body">
    <h1>React</h1>
    <p>
      Aqui debe cargar el bundle de react.(debatir)
    </p>
    <h3>Información para comprobar que trae los datos desde la bdd</h3>
    <ul>
      <li>Nombre: {{user.name}}</li>
      <li>Email: {{user.email}}</li>
      <li>Fecha ingreso: {{user.ingreso}}</li>
      <li>Plan: {{user.plan}}</li>
      <li>Expira: {{user.expira}}</li>
    </ul>
  </div>
</section>
